/* Selector por etiqueta */
body{
    background-color: #000000;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

/* Selector por etiqueta header */

div.ventana{
    background-color: #0e0c22;
    border: 2px solid #2f314f;
    width: 800px;
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 20px #483f77;
}

div.top{
    background-color: #222855;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    color: #7480ca;
}

header {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
header p,h2{
    color:#B8BDDE;
}
header img.lunabebe{
    height: 100px;
    width: 180px;
    object-fit: cover;
    border: 3px solid #483f77;
}

div.Info{
    flex-grow: 1;
}

div.links{
    text-align: right;
}

div.boton{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

div.boton button{
    background-color: #222855;
    color:#B8BDDE;
    border: 5px 10px;
    cursor: pointer;
}

div.Galeria{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-top: 10px;
}


main{
    background-color: #3c468a;
    margin: 10px;
    border: solid #4d5270 ;
    border-top: 3px;
    border-radius: 50px 50px;
    padding: 30px;
    color: #B8BDDE;
}


a{
    color:#B8BDDE;
}

aside{
    border-radius: 30px 30px;
    margin: 2px;
    padding: 30px;
    display: inline;
}
